@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto.woff") format("woff"); }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto.woff2") format("woff2"); }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotobold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotobold.woff2") format("woff2");
  font-weight: bold; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500; }

/*==========  GLOBAL  ==========*/

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: roboto, "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 27px;
  padding-left: 27px;
}

body.overlay:before {
  content: '';

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: block;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.hits__link:hover,
.hits__link:focus,
.hits__link:active,
.footer-nav__link:hover,
.footer-nav__link:focus,
.footer-nav__link:active,
.copyright__link:hover,
.copyright__link:focus,
.copyright__link:active,
.enter-form__link:hover,
.enter-form__link:focus,
.enter-form__link:active,
.catalog-card__link:hover,
.catalog-card__link:focus,
.catalog-card__link:active {
  color: #ffbc9e;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #e74a35;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -o-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 30px;

  text-decoration: none;
  outline: none;
}

.btn:hover,
.btn:focus {
  -webkit-box-shadow: 0 2px 2px #ac1000;
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
}

.btn:active {
  -webkit-box-shadow: inset 0 2px 2px #942718;
  box-shadow: inset 0 2px 2px #942718;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image: -o-linear-gradient(bottom, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  background-color: rgba(0, 0, 0, 0.07);
  background-blend-mode: overlay;
}

::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
::-moz-placeholder          {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}/* Firefox 19+ */
:-moz-placeholder           {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}/* Firefox 18- */
:-ms-input-placeholder      {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

input {
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

/*==========  HEADER  ==========*/

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__info {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: -6px 0 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.page-header__tel {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.logo {
  margin-right: 9px;
  padding-top: 9px;
}

/*==========  HEADER-MENU  ==========*/

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 0 0;
  padding: 0;

  list-style: none;
}

.header-menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 42px;

  line-height: 18px;
}

.header-menu__link {
  position: relative;
  display: block;
  height: 32px;
  padding: 6px 14px 10px;
  text-decoration: none;
}

.header-menu__item:hover .header-menu__link,
.header-menu__link:focus {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 30px;
  text-decoration: none;
}

.header-menu__link:not(.active)::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;

  height: 1px;
  width: 100%;
  padding: 0 14px;

  background-color: #fff;
  background-clip: content-box;
  opacity: 0.2;
}

.header-menu__link:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #f8f7f4;
}

.header-menu__link.active {
  background-color: #d07058;
  border-radius: 30px;
  text-decoration: none;
}

/*==========  HEADER-MENU__DROPDOWN  ==========*/

.dropdown {
  position: absolute;
  top: 42px;
  left: -6px;

  display: none;
  width: 143px;
  margin: 0;
  padding: 4px 0 6px;

  list-style: none;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.header-menu__item:hover .dropdown,
.header-menu__link:focus ~ .dropdown,
.header-menu__item:focus-within > .dropdown {
  display: block;
}

.dropdown__link {
  display: block;
  padding: 8px 20px 9px;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #323232;

  text-decoration: none;
}

.dropdown__item:hover a,
.dropdown__link:focus {
  background-color: #fbded7;
}

.dropdown__item:active a {
  background-color: #f6b5a5;
}

.dropdown__item.active a {
  background-color: #d07058;
}

.dropdown__item_news {
  margin-bottom: 7px;
}

.dropdown__link_news {
  position: relative;
  font-weight: 700;
  padding-top: 7px;
}

.dropdown__link_news::after {
  content: '';
  position: absolute;
  top: 34px;
  left: 6px;

  height: 1px;
  width: 128px;

  background-color: #000;
  background-clip: content-box;
  opacity: 0.2;
}

/*==========  HEADER-AUTH  ==========*/

.header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0 0 0 auto;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.header-auth__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 42px;
}

.header-auth__item_enter {
  margin: 0 8px 0 10px;
}

.header-auth__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 32px;
  padding: 0 17px 0 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  text-decoration: none;
}

.header-auth__link_search {
  height: 33px;
  padding: 0 8px;
}

.header-auth__span-enter {
  margin-left: 7px;
}

.header-auth__span-basket {
  margin-left: 8px;
}

.header-auth__item:hover form,
.header-auth__link:focus ~ form,
.header-auth__item:focus-within > form {
  display: block;
}

.header-auth__item:hover .modal-basket,
.header-auth__link:focus ~ .modal-basket,
.header-auth__item:focus-within > .modal-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-auth__item:hover .header-auth__link,
.header-auth__link:focus {
  color: #323232;
  border-radius: 30px;
  background-color: #f8f7f4;
}

.header-auth__item:hover:not(.header-auth__item_basket-red) path,
.header-auth__link_search:focus:not(.header-auth__item_basket-red) path,
.header-auth__item:hover:not(.header-auth__item_basket-red) g,
.header-auth__link_search:focus:not(.header-auth__item_basket-red) g {
  fill: #000;
}

/*==========  HEADER-AUTH__SEARCH-FORM  ==========*/

.search-form {
  position: absolute;
  right: 0;
  top: 41px;

  display: none;
  width: 341px;
  height: 84px;
  padding: 20px 15px;

  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-form__input,
.enter-form__input {
  width: 100%;
  padding: 8px 13px 10px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
}

/*==========  HEADER-AUTH__ENTER-FORM  ==========*/

.enter-form {
  position: absolute;
  top: 41px;
  right: -1px;

  display: none;
  width: 277px;
  height: 214px;
  padding: 20px 17px 22px 19px;

  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.enter-form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.enter-form__input {
  margin-bottom: 20px;
}

.enter-form__btn {
  width: 100px;
  height: 44px;
  margin-right: 21px;
  border: none;
}

.enter-form__link-list {
  width: 120px;
}

.enter-form__link {
  display: block;

  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.enter-form__link_2 {
  line-height: 20px;
}

/*==========  HEADER-AUTH__BASKET  ==========*/

.modal-basket {
  position: absolute;
  top: 41px;
  right: 2px;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 539px;
  padding: 7px 13px 21px 14px;

  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;

  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.basket-table {
  border-spacing: 2px 12px;
}

.table-row {
  margin-bottom: 10px;
  vertical-align: baseline;
}

td {
  padding: 10px 5px;
}

td:nth-child(1) {
  width: 15px;
}

td:nth-child(2) {
  width: 41px;
  padding: 2px 0 2px;
  vertical-align: top;
}

td:nth-child(3) {
  width: 220px;
  padding-left: 0;
}

td:nth-child(4) {
  width: 90px;
}

td:nth-child(5) {
  width: 79px;
  text-align: center;
}

.table-row__item_sum {
  padding-top: 8px;
  padding-bottom: 2px;
  padding-right: 0;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.modal-basket__btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 14px 15px;
}

.table-row__btn {
  width: 11px;
  height: 11px;

  border: none;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

/*==========  MAIN  ==========*/
/*==========  PROMO  ==========*/

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 272px;
}

.promo-control {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 159px 0 0;
  padding: 0;
  list-style: none;
}

.promo-control__btn {
  display: block;
  width: 21px;
  height: 21px;
  margin: 0 8px 22px 0;

  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.promo-control__item:last-child .promo-control__btn{
  margin-right: 0;
}

.promo__list {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;

  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 670px;
}

.promo__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__title {
  margin: 0 0 32px;

  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.promo__link {
  width: 280px;
  height: 64px;
  padding: 8px 0 12px;

  font-size: 32px;
  line-height: 44px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.background1 {
  background-color: #849d8f;
}

.background2 {
  background-color: #8996a6;
}

.background3 {
  background-color: #9d8b84;
}

.promo__img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.promo__input {
  display: none;
}

.promo-control__btn:hover,
.promo-control__btn:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

#btn-1:checked ~ .promo-control label[for="btn-1"],
#btn-2:checked ~ .promo-control label[for="btn-2"],
#btn-3:checked ~ .promo-control label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-2:checked ~ .promo__list .promo__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#btn-2:checked ~ .promo__list .promo__item1,
#btn-3:checked ~ .promo__list .promo__item1 {
  display: none;
}

#btn-3:checked ~ .promo__list .promo__item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*==========  SPECIAL  ==========*/

.special {
  margin-top: 41px;
}

.special__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.special__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  min-height: 229px;
  width: 560px;
  padding: 23px 21px 25px 18px;

  background-position: left top;
  border-radius: 15px;
}

.special__item_raspberries {
  margin-right: 10px;
  background-image: url(../img/raspberries.jpg);
}

.special__item_chocolate {
  background-image: url(../img/choko-fon.jpg);
}

.special__title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 35px;
  font-weight: 700;
}

.special__text {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.special__link_raspberries {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 165px;
  padding: 10px 20px;
  margin-top: auto;
  line-height: 24px;
}

.special__link_chocolate {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 189px;
  padding: 10px 19px;
  margin-top: auto;
  margin-bottom: 1px;
  line-height: 24px;
}

/*==========  HITS  ==========*/

.hits,
.catalog {
  margin-top: 41px;
}

.hits__list,
.catalog__list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 267px;

  margin-bottom: 26px;
}

.catalog-card {
  margin-right: 26px;
  margin-bottom: 23px;
}

.hits__item {
  margin-bottom: 24px;
}

.catalog-card:nth-child(4n) {
  margin-right: 0;
}

.hits__item::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-card__title {
  padding: 0 6px;
  margin-top: 11px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-card__price {
  position: absolute;
  top: 161px;
  left: -2px;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.8px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-card__span {
  font-size: 30px;
}

.catalog-card__btn {
  position: absolute;
  bottom: 0;
  left: 46px;
  z-index: 2;

  width: 200px;
  margin-bottom: 20px;
  padding: 13px 0;
}

.catalog-card:hover .catalog-card__hover {
  display: block;
}

.catalog-card:hover .catalog-card__img,
.catalog-card:hover .catalog-card__price,
.catalog-card:hover .catalog-card__title,
.catalog-card:hover .catalog-card__link {
  z-index: 5;
}

.catalog-card__hover {
  position: absolute;
  top: -7px;
  right: -14px;
  bottom: -63px;
  left: -14px;
  z-index: 2;

  display: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

/*==========  ADVANTAGE  ==========*/

.advantage {
  color: #323232;
  margin-top: 0px;
}

.advantage__fon {
  padding: 24px 20px 0px 20px;
  background-image: url(../img/wafer.jpg);
  border-radius: 15px;
}

.advantage__title {
  margin: 0;
  margin-bottom: 6px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage__item {
  position: relative;
  width: 535px;
  padding-left: 55px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.advantage__item::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 1;

  width: 61px;
  height: 61px;

  background-repeat: no-repeat;
}

.advantage__item_ice::after {
  background-image: url("../img/ice-cream.svg");
}

.advantage__item_cow::after {
  background-image: url("../img/cow.svg");
}

.advantage__item_eco::after {
  background-image: url("../img/eco.svg");
}

.advantage__item_temp::after {
  background-image: url("../img/thermometer.svg");
}

.advantage__item:nth-child(2n+1) {
  margin-right: 31px;
}

.advantage__item_ice,
.advantage__item_cow {
  margin-bottom: -10px;
}

.advantage__item_eco,
.advantage__item_temp {
  margin-bottom: 8px;
}

/*==========  BLOG  ==========*/

.blog-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.blog {
  width: 560px;
  min-height: 220px;
  padding: 23px 250px 25px 20px;
  margin-right: 26px;

  background-color: #ffffff;
  background-image: url(../img/strawberry-fon.jpg);
  background-repeat: no-repeat;
  background-position: 16% 40%;
  border-radius: 15px;
}

.blog__subtitle {
  margin: 0;
  margin-bottom: 3px;
  color: #323232;
  font-weight: 500;
}

.blog__title {
  margin: 0;
}

.blog__link {
  margin: 0;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.2px;

  text-decoration: none;
  background-color: transparent;
  box-shadow: 0 -3px 0 #fff inset,
              0 -5px 0 #323232 inset;
}

.blog__link:hover,
.blog__link:focus,
.blog__link:active {
  color: #e84d37;
  box-shadow: 0 -3px 0 #fff inset,
              0 -5px 0 #e84d37 inset;
}

/*==========  MAIL  ==========*/

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 560px;
  min-height: 220px;
  padding: 24px 17px 30px;

  background-color: #f8f7f4;
  border-radius: 15px;
  border: 10px solid;
  -o-border-image: url(../img/border.png);
  border-image: url(../img/border.png);
  border-image-slice: 10;
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing__text {
  margin: 0;
  margin-bottom: 10px;
  color: #5a5a5a;
  font-weight: 400;
}

.mailing-form__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 10px 0 10px 15px;  

  background: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 8px;
}

.mailing-form__button {
  width: 129px;
  padding: 0;
  margin-left: 11px;  
  border: none;
}

/*==========  MAP  ==========*/

.map {
  position: relative;
  margin-top: 40px;
}

.map-google,
.map {
  min-width: 1200px;
  height: 429px;
  margin-right: auto;
  margin-left: auto;
}

.map-contacts {
  position: absolute;
  top: 14%;
  right: 5%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 302px;
  padding: 30px 25px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;
}

.map-contacts__text {
  margin: 0;
  margin-bottom: 23px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.map-contacts__span,
.map-contacts__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.map-contacts__link {
  width: 252px;
  padding: 10px 28px;
}

/*==========  FOOTER  ==========*/

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 25px;
}

.social {
  width: 185px;
  margin: 0;
  margin-right: 214px;
  margin-left: 1px;
  margin-top: 9px;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  list-style: none;
}

.footer-nav {
  width: 326px;
  margin: 0;
  margin-top: 11px;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  list-style: none;
}

.copyright {
  margin-left: auto;
  margin-right: -3px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.social__item {
  width: 38px;
  height: 38px;

  border: 6px solid rgb(100%, 100%, 100%, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.social__link {
  display: block;
  height: 26px;
}

.social__item:hover {
  opacity: 1;
  border-color: rgb(100%, 100%, 100%, 0.7);
}

.social__item:active {
  opacity: 0.8;
  border-color: rgb(100%, 100%, 100%, 0.7);
}

.social__item_tw {
  background-image: url(../img/twitter.svg);
}

.social__item_inst {
  background-image: url(../img/instagram.svg);
}

.social__item_fb {
  background-image: url(../img/fb.svg);
}

.social__item_vk {
  background-image: url(../img/vk.svg);
}

.footer-nav__item {
  min-width: 163px;
  margin-bottom: 5px;
}

.footer-nav__link {
  position: relative;  
  text-decoration: none;
}

.footer-nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  height: 1px;
  width: 100%;

  background-color: #fff;
  background-clip: content-box;
  opacity: 0.2;
}

.footer-nav__item:nth-child(2n+1) {
  padding-left: 22px;
}

.footer-nav__item_provider {
  font-weight: 700;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.copyright__text {
  margin: 0;
}

/*==========  MODAL-FEEDBACK  ==========*/

.modal-feedback {
  position: absolute;
  top: 1850px;
  right: 35%;
  z-index: 101;

  display: none;
  width: 480px;
  padding: 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal__show {
  display: block;
}

.modal-feedback__text {
  margin: 0 0 15px;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.feedback-form {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feedback-form__input {
  min-width: 267px;
  margin: 10px 0;
  padding: 15px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  border-radius: 5px;
}

.feedback-form__area {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.feedback-form__btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 10px 25px;
  line-height: 24px;
  border: none;
}

.feedback-form__btn_close {
  position: absolute;
  top: -50px;
  right: -10px;

  width: 18px;
  height: 17px;

  border: none;
  background-image: url(../img/cross-big.svg);
  background-color: transparent;
}

/*==========  CATALOG.HTML  ==========*/

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: -20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs__link {
  text-decoration: none;
  border-bottom: 1px solid rgb(100%, 100%, 100%, 0.2);
}

.breadcrumbs__item::after {
  content: '»';
  padding: 0 5px;
}

.main-title {
  margin: 3px 0 14px;
  font-size: 35px;
  line-height: 41px;
}

/*==========  CATALOG-PAGINATION  ==========*/

.catalog-paginat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 46px 0 30px;
  padding: 0;
  list-style: none;
}

.catalog-paginat__item + .catalog-paginat__item {
  margin-left: 2px;
}

.catalog-paginat li:last-child {
  margin-right: 0;
}

.catalog-paginat__link {
  padding: 4px 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  border-radius: 50%;
}

.catalog-paginat__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-paginat__link.active,
.catalog-paginat__link:active {
  color: #323232;
  background-color: #ffffff;
}

.catalog__hr {
  opacity: 0.3;
}

.catalog-paginat__arrow_left,
.catalog-paginat__arrow_right {
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  opacity: 0.2;
}

.catalog-paginat__arrow_right {
  opacity: 1;
}

.catalog-paginat__arrow_right:hover,
.catalog-paginat__arrow_left:hover {
  cursor: pointer;
  opacity: 1;
}

.catalog-paginat__arrow_left {
  background-image: url(../img/icon-left-small.svg);
}

.catalog-paginat__arrow_left,
.catalog-paginat__arrow_right {
  margin: 0 15px;
}

.catalog-paginat__arrow_right {
  margin-right: -3px;
}

/*==========  FILTERS  ==========*/

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sort__title {
  margin-top: 14px;
  margin-bottom: 6px;
  padding-left: 16px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sort {
  margin-right: 13px;
}

.sort-price {
  width: 220px;
}

.sort-price__range {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 37px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.sort-price__range::after {
  content: '';
  position: absolute;
  bottom: 16px;
  left: 22px;

  height: 4px;
  width: 176px;

  background-color: #fff;
  opacity: 0.5;
}

.sort-price__btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  border: none;
}

.sort-price__btn:hover {
  cursor: pointer;
}

.sort-price__btn1 {
  margin-left: 14px;
}

.sort-price__btn2 {
  margin-left: auto;
  margin-right: 14px;
}
/*==========  FILTERS__SORT-VIEW  ==========*/

.sort-view {
  position: relative;
}

.sort__select {
  display: block;
  width: 100%;
  padding: 10px 33px 9px 15px;

  color: #fff;
  font-weight: 500;
  line-height: 18px;

  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select__svg {
  position: absolute;
  top: 50px;
  right: 1rem;
  pointer-events: none;
}

.sort__select:hover {
  color: #323232;
}

.sort__select:hover ~ svg path {
  fill: #000;
}

.sort__option {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

/*==========  FILTERS__SORT-FAT &  SORT-Fill==========*/

.sort-fat__list,
.sort-fill__list,
.filters-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 15px 0 17px;
  min-height: 37px;

  list-style: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.sort-fill__list {
  padding: 0 23px 0 16px;
}

.sort-fat__item + .sort-fat__item {
  margin-left: 18px;
}

.sort-fill__item + .sort-fill__item {
  margin-left: 21px;
}

.sort-fat__input,
.sort-fill__input {
  display: none;
}

.sort-fat__label,
.sort-fill__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-fat__btn,
.sort-fill__btn {
  display: inline-block;
  width: 22px;
  height: 22px;

  background-size: cover;
  opacity: 0.8;
}

.sort-fat__btn {
  background-image: url(../img/radio-off.svg);
}

.sort-fill__btn {
  width: 24px;
  height: 20px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sort-fat__text,
.sort-fill__text {
  font-weight: 500;
  line-height: 18px;
  padding-left: 10px;
}

.sort-fill__text {
  padding-left: 7px;
}

.sort-fat__input:checked ~ label .sort-fat__btn {
  background-image: url(../img/radio-on.svg);
}

.sort-fill__input:checked ~ label .sort-fill__btn {
  background-image: url(../img/checkbox-on.svg);
}

.sort-fat__input:disabled ~ label .sort-fat__btn,
.sort-fill__input:disabled ~ label .sort-fill__btn {
  opacity: 0.4;
}

.sort-fat__label:hover .sort-fat__btn,
.sort-fill__label:hover .sort-fill__btn {
  opacity: 1;
}

.filters-form__btn {
  display: block;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 7.5px 27.5px;
  margin-top: 10px;

  color: #fff;
  font-weight: 500;
  line-height: 18px;

  border: 2px solid #ffffff;
}

.filters-form__btn:hover {
  color: #323232;
  background-color: #fff;
}

.filters-form__btn:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  border: none;
}