@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto.woff") format("woff"); }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto.woff2") format("woff2"); }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/robotobold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/robotobold.woff2") format("woff2");
  font-weight: bold; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500; }

/*==========  Granici  ==========*/

/* BODY > * {
    outline: 2px solid deeppink;
}
BODY > * > * {
    outline: 2px dashed lime;
    outline-offset: -2px;
}
BODY > * > * > * {
    outline: 2px dotted dodgerblue;
    outline-offset: -4px;
} */

/*==========  Custom  ==========*/

html {
  background-color: #000;
}

body {
  font-family: robotobold, "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: white;
  background-color: #849d8f;  
  width: 1200px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  color: white;
}

.hidd-title {
  font-size: 0;
}




