@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto.woff") format("woff"); }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto.woff2") format("woff2"); }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotobold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotobold.woff2") format("woff2");
  font-weight: bold; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500; }

/*==========  Granici  ==========*/

/* BODY > * {
    outline: 2px solid deeppink;
}
BODY > * > * {
    outline: 2px dashed lime;
    outline-offset: -2px;
}
BODY > * > * > * {
    outline: 2px dotted dodgerblue;
    outline-offset: -4px;
}

BODY > * > * > * > * {
    outline: 2px dotted orange;
    outline-offset: -4px;
} */
/*==========  Custom  ==========*/

.hidd-title:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: roboto, "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: white;
  background-color: #849d8f;
}

a {
  color: white;
}

.container {
  width: 1200px;
  padding-right: 27px;
  padding-left: 27px;
  margin-right: auto;
  margin-left: auto;  
}

/*==========  HEADER  ==========*/

.page-header {
  display: flex;
  flex-direction: column;    
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;    
}

.logo__img {  
  margin-top: 9px;
  margin-right: 24px;  
}

.header-menu {
  display: flex;  
  flex-grow: 1;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu__link {
  font-weight: 700;
  margin-right: 30px;
}

.header-menu__item {
  position: relative;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.dropdown {
  position: absolute;
  left: 1px;
  display: none;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;  
}

.header-menu__item:hover .dropdown {
  display: block;
} 

.header-auth {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;  
}

.header-auth__link {
  text-decoration: none;  
}

.header-auth__item {
  margin-right: 9px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
}

.header-auth__item_enter {  
  padding-left: 44px;
  padding-right: 17px;  
  background-image: url(../img/entrance.svg);  
  background-position: 16px 6px; 
  border-radius: 30px; 
}

.header-auth__item_basket {  
  padding-left: 44px;
  padding-right: 17px;  
  background-image: url(../img/basket.svg);  
  background-position: 16px 6px; 
  border-radius: 30px; 
}

.header-auth__item_search {    
  padding-left: 8px;
  padding-right: 8px;  
  background-image: url(../img/loupe.svg);  
  background-position: center; 
  border-radius: 50%;
}

.header-auth__item:last-child {
  margin-right: 0;
}

.header-auth__link_search {
  opacity: 0;
}

.page-header__info {
  align-self: flex-end;
  font-size: 14px;
  font-weight: 700;  
  text-align: right;
  margin-top: 0;

}

.page-header__tel {
  font-size: 22px;
  line-height: 24px;  
}

/*==========  PROMO  ==========*/

.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
  z-index: -1;
}

.fon1 {
  background-color: #849d8f;
}

.fon2 {
  background-color: #8996a6;  
}

.fon3 {
  background-color: #9d8b84;  
}

.promo__img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.promo__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  margin-top: 260px;
  margin-bottom: 30px;  
}

.promo__link {
  display: block;
  text-align: center;
  padding: 18px 0; 
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;  

  width: 280px;
  height: 64px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 30px;
}

.promo__input {
  display: none;
}

.promo-control {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;  
  margin-top: -40px;
}

.promo-control__btn {  
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  width: 21px;
  height: 21px;
  border: 2px solid white;
  border-radius: 50%;    
  cursor: pointer;
  background-color: transparent;  
}

#btn-1:checked ~ .promo-control label[for="btn-1"],
#btn-2:checked ~ .promo-control label[for="btn-2"],
#btn-3:checked ~ .promo-control label[for="btn-3"] {
  background-color: #ffffff;
}

.promo__item {
  max-width: 670px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;  
}

.promo__item1 {
  display: flex;  
}

#btn-2:checked ~ .promo__list .promo__item2 {
  display: flex; 
}

#btn-2:checked ~ .promo__list .promo__item1,
#btn-3:checked ~ .promo__list .promo__item1 {
  display: none;  
}

#btn-3:checked ~ .promo__list .promo__item3 {
  display: flex;
}

/*==========  SPECIAL  ==========*/

.special {
  margin-top: 60px;  
}

.special__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 ;
  margin: 0;     
}

.special__item {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 230px;
  max-width: 560px;
  background-position: left top;  
  border-radius: 15px;  
  padding: 23px 20px;        
}

.special__item_raspberries {  
  background-image: url(../img/raspberries.jpg);
  margin-right: 26px;    
}

.special__item_chocolate {    
  background-image: url(../img/choko-fon.jpg);    
}

.special__title {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}

.special__text {
  font-size: 18px;
  font-weight: 700;  
}

.special__link {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;  
  padding: 10px 0;    

  /* Style for "Подложка" */
  width: 165px;
  height: 46px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
}

/*==========  HITS  ==========*/

.hits {
  margin-top: 40px;
}

.hits__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.hits__item {
  max-width: 267px;

  display: flex;
  flex-direction: column;

  position: relative;
}

.hits__item + .hits__item {
  margin-left: 10px;
}

.hits__item::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 61px;
  height: 61px;  

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.hits__item:hover { 
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.hits__title {
  text-align: center;
  font-size: 16px;
  font-weight: 500; 
}

.hits__price {
  position: absolute;
  top: 165px;
  left: 0;  

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);  
}

.hits__span {  
  font-size: 30px;    
}

/*==========  ADVANTAGE  ==========*/

.advantage {  
  color: #323232;  
  margin-top: 30px;
}

.advantage__fon {
  background-image: url(../img/wafer.jpg);
  border-radius: 15px;
  padding: 30px 20px;
}

.advantage__title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.advantage__item {
  width: 532px;
  padding-left: 55px;

  position: relative;
}

.advantage__item::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 61px;
  height: 61px;

  background-repeat: no-repeat;
}

.advantage__item_ice::after {
  background-image: url("../img/ice-cream.svg");  
}

.advantage__item_cow::after {
  background-image: url("../img/cow.svg");  
}

.advantage__item_eco::after {
  background-image: url("../img/eco.svg"); 
}

.advantage__item_temp::after {
  background-image: url("../img/thermometer.svg");  
}

.advantage__item_ice,
.advantage__item_eco {
  margin-right: 33px;
}

/*==========  BLOG  ==========*/

.blog-mail {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.blog {
  background-color: #ffffff;
  background-image: url(../img/strawberry-fon.jpg);
  background-repeat: no-repeat;
  background-position: 16% 40%;
  border-radius: 15px;
  min-width: 560px;
  min-height: 220px;
  padding: 25px 250px 25px 20px;
  margin-right: 26px;
}

.blog__subtitle {
  color: #323232;
  margin: 0;
  font-weight: 500;
}

.blog__title {
  margin: 0;
}

.blog__link {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

/*==========  MAIL  ==========*/

.mailing {
  min-width: 560px;
  min-height: 220px;
  background-color: #f8f7f4;  
  border-radius: 15px;
  padding: 27px 17px;
  
  border: 10px solid;
  border-image: url(../img/border.png);
  border-image-slice: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.mailing-form {
  display: flex;
}

.mailing__text {
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
}

.mailing-form__input {
  flex-grow: 1;  
  
  font-weight: 400;
  line-height: 24px;    

  padding: 10px 0 10px 15px;
  background: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);  
  border-radius: 8px;
}

  ::-webkit-input-placeholder {color: #999999; opacity:1;}/* webkit */
  ::-moz-placeholder          {color: #999999; opacity:1;}/* Firefox 19+ */
  :-moz-placeholder           {color: #999999; opacity:1;}/* Firefox 18- */
  :-ms-input-placeholder      {color: #999999; opacity:1;}/* IE */

  :focus::-webkit-input-placeholder {opacity:0;}/* webkit */
  :focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
  :focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
  :focus:-ms-input-placeholder      {opacity:0;}/* IE */

.mailing-form__input:focus,
.mailing-form__button:focus {  
  box-shadow: 0 0 3pt 1px #999999;
  outline: none;
}  

.mailing-form__button {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  
  border: none;
  border-radius: 30px;  
  padding: 10px 0;
  margin-left: 11px;    

  
  width: 129px;
  height: 44px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

/*==========  MAP  ==========*/

.map {
  position: relative;
}

.map-google {
  margin-top: 40px;
  width: 1200px;
  height: 430px;
  
  margin-right: auto;
  margin-left: auto;
}

.map-contacts {
  display: flex;
  flex-direction: column;
  width: 400px;

  position: absolute;
  top: 80px;
  right: 100px;
  padding: 20px;

  background-color: #ffffff;
  border-radius: 15px;
  color: #000;
}

.map-contacts__link {
  color: #000;
}

/*==========  FOOTER  ==========*/

.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.social {
  display: flex;
  list-style: none;
}

.social__item {
  width: 70px;
  height: 70px;
}

.social__item_tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}